body {
    /* background-color: #e6ebef; */
    background: linear-gradient(90deg, rgba(230,235,239,1) 0%, rgba(200,207,213,1) 100%);
    font-family: montserrat;
    
}

h1 {
    color: #700611;
    font-family: montserrat;
    font-size: 50px;
    text-align: center;
    margin: 10px;
}

.menu {
    margin: 20px;
    background-color: #111825;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #e6ebef;
    font-weight: 600;
    font-family: montserrat;
    transition: 1s;
}

#menu {
    border: solid 3px #111825;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    border-radius: 2vh;
}

#menu .escolha {
    text-decoration: none;
    font-size: 20px;
    color: #111825;
    font-weight: 600;
    font-family: montserrat;
    transition: 1s;
}

#menu a:hover {
    color: #700611;
    font-size: 25px;
    font-weight: 700;
    transition: 1s;
}


h2 {
    color: #e6ebef;
    font-family: montserrat;
    font-size: 6vh;
    text-align: center;
    margin: 3vh;
}

/* CUSTUMIZAÇÃO FILMES */

.herois {
    border: solid 3px #e6ebef;
    min-height: 100vh;
    width: 80vw;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.753);
}

#homemferro {
    background-color: linear-gradient(90deg, rgba(0,65,97,1) 0%, rgba(36,123,160,1) 100%);
    background-image: url(https://i.pinimg.com/736x/20/dc/e7/20dce7485cfafb97dfbae0db1e2ebf20.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.877);
    background-blend-mode: darken;
}
#capitaoamerica {
    background-color: linear-gradient(90deg, rgba(0,65,97,1) 0%, rgba(36,123,160,1) 100%);
    background-image: url(https://images.universohq.com/2014/03/CaptainAmericaFirstAvengerP1_des.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.877);
    background-blend-mode: darken;
}
#hulk {
    background-color: linear-gradient(90deg, rgba(0,65,97,1) 0%, rgba(36,123,160,1) 100%);
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/hulk_avengers_-_endgame_42f7a5cd.jpeg?region=0,0,801,802);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.877);
    background-blend-mode: darken;
}
#thor {
    background-color: linear-gradient(90deg, rgba(0,65,97,1) 0%, rgba(36,123,160,1) 100%);
    background-image: url(https://disney.images.edge.bamgrid.com/ripcut-delivery/v1/variant/disney/815f63e0-e165-4ec2-8052-5f92c40f8e72/scale?format=webp&width=2880);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.877);
    background-blend-mode: darken;
}

.capa{
    display: block;
    margin: auto;
    width: 20vw;
    border-radius: 25px;
    border: solid 3px #e6ebef;
}
.capa:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.753);
}

.avali {
    display: block;
    margin: 10px auto;
    width: 15vw;
    border-radius: 25px;
}

.atores {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    
    margin: auto;
}

.ator {
    display: block;
    margin: auto;
    width: 20vw;
    border: solid 3px #e6ebef;
    border-radius: 25px;
    width: 10vw;
}

.name {
    text-align: center;
    font-size: 3vh;
    color: #e6ebef;
    font-family: montserrat;
    margin: 5;
    font-weight: 900;
}

.descript {
    text-align: center;
    font-size: 20px;
    color: #e6ebef;
    font-family: montserrat;
    margin: 10px;
    padding: 0px 50px;
}

h3 {
    text-align: center;
    font-size: 5vh;
    margin: 7px;
    color: #e6ebef;
    font-family: montserrat;
}

.text-name {
    text-align: center;
    font-size: 3vh;
    color: #e6ebef;
    font-family: montserrat;
    margin: 5px;
    font-weight: 900;
}